.letter {
  width: 40%;
  padding: 2%;
  background-color: #FFF;
  position: absolute;
  margin-left: 425px;
}

body {
  background-image: url("background.jpg");
  height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.map {
  text-decoration: underline;
  color: blue;
}

.logo {
  width: 20%;
  margin: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.signature {
  width: 20%;
}

.signature img {
  width: 100%;
  height: auto;
}

.date {
  font-weight: bold;
}

canvas {
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
